/* style.scss */
/* Compass imports */
/* Partials import */
/* _variables */
body {
  background-color: #17824d;
  color: white;
  font-family: Verdana;
}
body #wrapper {
  width: 100%;
}
body #wrapper #content {
  width: 600px;
  margin: auto;
}
body #wrapper #content p {
  text-align: justify;
  line-height: 1.6em;
}
body #wrapper #content img {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
body #wrapper #content h1, body #wrapper #content h2, body #wrapper #content h3, body #wrapper #content h4, body #wrapper #content h5, body #wrapper #content h6 {
  text-align: center;
  font-weight: normal;
}
