body {
	background-color: #000;
	color: #fff;
	font-family: Verdana;
}

#wrapper {
	width: 100%;
}

#content {
	width: 600px;
	margin: auto;
}

h1, h2, h3 {
	text-align: center;
	font-weight: normal;
}

#content p {
	text-align: justify;
	line-height: 1.5em;
}

#content img {
	display: block;
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
}