/* style.scss */

/* Compass imports */
@import "compass/reset"; 
@import "compass";
@import "compass/css3/box-shadow";

/* Partials import */
@import "variables";


body {
	background-color: $bg_color;
	color: $text_color;
	font-family: Verdana;
	
	#wrapper {
		width: 100%;
		
			#content {
				width: 600px;
				margin: auto;
			
				p {
					text-align: justify;
					line-height: 1.6em;
				}
				
				img {
					display: block;
					width: 50%;
					margin: 20px auto 30px;
					cursor: pointer;
				}
				
				#{headings()} {
					text-align: center;
					font-weight: normal;
				}
				
				h1 {
					font-size: 2.5em;
					padding: 20px 0px 10px 0px;
				}
				
				h3 {
					font-size: 1.5em;
					padding: 13px 0px 13px 0px;
				}
			}

	}
}






